.selearch
{
	position: relative;
}

.selearch-input
{
	width: 200px;
	height: fit-content;
	outline: none;
	min-height: 1em;
	font-size: 16px;

	padding: .1em;

	border: 1px solid gray;
}

.selearch-options
{
	z-index: 1000;
	width: fit-content;
	min-width: 200px;
	height: fit-content;

	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	display: none;

	padding: .25em .5em;

	border: 1px solid gray;
	background-color: white;
}

.selearch-options.show
{
	display: flex;
	flex-direction: column;
}

.selearch-option:hover,
.selearch-option.selected
{
	cursor: pointer;
	background-color: lightgray;
}

.selearch-option:not(:first-child)
{
	border-top: 1px solid gray;
}

.selearch-option:not(:last-child)
{
	border-bottom: 1px solid gray;
}

.selearch option { display: none; }
