.dataselect
{
	position: relative;
}

.dataselect-input
{
	width: 200px;
	height: fit-content;
	outline: none;
	min-height: 1em;
	font-size: 16px;

	padding: .1em;

	border: 1px solid gray;
}

div.dataselect-input
{
	position: relative;
}

div.dataselect-input:after
{
	content: "";
	width: 8px;
	aspect-ratio: 1;
	position: absolute;
	top: 8px;
	right: 8px;

	background-color: black;
	clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.dataselect-options
{
	z-index: 1000;
	width: fit-content;
	min-width: 200px;
	height: fit-content;

	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	display: none;

	padding: .25em .5em;

	border: 1px solid gray;
	background-color: white;
}

.dataselect-options.show
{
	display: flex;
	flex-direction: column;
}

.dataselect-option:hover,
.dataselect-option.selected
{
	cursor: pointer;
	background-color: lightgray;
}

.dataselect-option:not(:first-child)
{
	border-top: 1px solid gray;
}

.dataselect-option:not(:last-child)
{
	border-bottom: 1px solid gray;
}

.dataselect option { display: none; }
